/* You can add global styles to this file, and also import other style files */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* html,
body,
app-root {
  height: 100%;
} */
body {
  margin-bottom: 0;
  margin-top: 0;
}
